header{
    background: black;
    height: 100px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
   
  }
  
  a{
    color: white;
    font-size: 30px;
    font-family: 'Josefin Sans', sans-serif;
    position: relative;
    top: 35px;
    left: 820px;
    text-decoration: none;
  }
  
  a:hover{
    color: grey;
    
   
  }
  
  .head {
    height: 500px;
    margin-top: 10px;
  }
  
  img{
    width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
  }
  
  .headertext{
    position: relative;
    left: 600px;
    bottom: 190px;
    font-family: 'Abril Fatface', cursive;
    font-size: 42px;
    margin-bottom: 0;
  }
  
  .headertext1{
    position: relative;
    text-align:center;
    bottom: 210px;
    font-family: 'Abril Fatface', cursive;
    font-size: 82px;
    margin-bottom: 0;
  }
  .xy{
    font-family: 'Josefin Sans', sans-serif;
    width: 800px;
    color: black;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
    margin-top: 0;
     
  }
  .firstul{
    list-style-type: square;
    width: 400px;
    margin-right: 900px;
    margin-left: auto;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 22px;
  }
  
  blockquote{
    background: black;
    color: white;
    height: 140px;
    width: 50%;
    font-family: 'Abril Fatface', cursive;
    font-size: 55px;
    text-align: center;
    margin-top: 30px;
    padding-top: 70px;
    padding-bottom: 0;
    margin-right: auto;
    margin-left: auto;
  }
  
  .kell{
    font-family: 'Abril Fatface', cursive;
    font-size: 150px;
    color: white;
    position: relative;
    bottom: 160px;
    right: 430px;
  }